*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  font-family: "Ariel", sans-serif;
}

body {
  background: #e7e8c5;
}

.start_btn {
  border-radius: 40px;
}

.instructions_title,
.title {
  font-size: 18px;
}

.instructions {
  font-size: 12px;
}

.time_remaining,
.timer_sec {
  font-size: 12px;
}

.question_text {
  font-size: 16px;
  color: #0b0382;
}
.options_text {
  font-size: 14px;
}
